<link rel="import" href="../bower_components/polymer-siren-mixins/siren-entity-mixin.html">

<dom-module id="d2l-sequence-content-file-download">
	<template>
		<style>
			:host {
				display: block;
				font-family: 'Lato', sans-serif;
				font-size: 20px;
				line-height: 1.5;
				letter-spacing: 0.6px;
			}

			.container {
				padding-top: 100px;
				text-align: center;
			}

			.cannot-open-text {
				color: var(--d2l-color-celestine-plus-1);

				/* Heading 3 - Lato Bold 20 */
				font-size: 20px;
				line-height: 30px;
				font-weight: 700; /* bold */
				letter-spacing: 0.2px;
			}

			.download-text {
				margin-top: 10px;
				color: var(--d2l-color-ferrite);

				/* Body Text - Lato Regular 19 */
				font-size: 19px;
				line-height: 24px;
				font-weight: 400; /* normal */
				letter-spacing: 0.2px;
			}

			.file-icon {
				background-image: url('../images/file-icon.svg');
				width: 163px;
				height: 125px;
				margin: 50px auto;
			}

			.file-size {
				color: #565a5c;
				font-weight: 400;
			}

			.download-button {
				background-color: #006fbf;
				border: 1px solid #1c5295;
				color: white;
				border-radius: 8px;
				width: 257px;
				height: 52px;
				margin-top: 50px;

				/* Heading 3 - Lato Bold 20 */
				font-size: 20px;
				line-height: 30px;
				font-weight: 700; /* bold */
				letter-spacing: 0.2px;
			}
		</style>
		<div class="container">
			<div class="cannot-open-text">This kind of file can't be opened in this viewer</div>
			<div class="download-text">Download and view the file in another application instead.</div>
			<div class="file-icon"></div>
			<div class="file-size">File size: [unknown]</div>
			<template is="dom-if" if="[[_fileLocation]]">
				<form method="get" action$="[[_fileLocation]]">
					<button type="submit" class="download-button">Download</button>
				</form>
			</template>
		</div>
	</template>

    <script>
		/*
			@mixes SirenEntityMixin
        */
        class D2LSequenceContentFileDownload extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
            static get is() {
                return 'd2l-sequence-content-file-download';
            }
            static get properties() {
                return {
                    _fileLocation: {
                        type: String,
                        computed: '_getFileLocation(entity)'
                    }
                }
            }
            _getFileLocation(entity) {
                try {
                    const fileActivity = this._getSubEntityByClass(entity, "file-activity");
                    const file = this._getSubEntityByClass(fileActivity, "file");
                    const link = this._getLinkByClass(file, "download");
                    return link.href;
                } catch(e) {
                    return '';
                }
            }
        }
        customElements.define(D2LSequenceContentFileDownload.is, D2LSequenceContentFileDownload);
    </script>
</dom-module>
